/* Write your CSS here */
.heading {
  color: #f0bb03;
  font-family: 'Bree Serif';
  font-size: 55px;
  margin: 5px;
}
.description {
  color: #ffffff;
  font-family: 'Bree Serif';
  font-size: 30px;
  margin: 15px;
}
button {
  font-family: 'Bree Serif';
  font-size: 15px;
  color: #1e293b;
  border-radius: 8px;
  border-width: 0px;
  background-color: #ffffff;
  height: 30px;
  margin: 6px;
  width: 120px;
  padding: 5px;
  align-self: center;
}
.container {
  background-color: #1e293b;
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
